---
layout: single
title: "Talks and Presentations"
permalink: /talks/
author_profile: false
---

## Conference Talks and Seminars

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

## Conferences Attended

1. APS March Meeting, Minneapolis, Minnesota, March 2024
2. The Mathematics and Physics of Moire Superlattices, Banff International Research Station, October 2023
3. Moire Materials Workshop, Flatiron Institute CCQ, May 2023
4. AWM Research Symposium, Minneapolis, Minnesota, June 2022
5. Mathematics and Physics at the Moire Scale, IPAM, May 2022
6. Simons Collaboration on Ultra-Quantum Matter Annual Meeting, New York City, January 2022

## Posters

1. Moire Materials Magic Workshop, Flatiron Institute, May 2025
2. Magnus expansion with superconvergence, Quantum Information Processing Poster Session, February 2025
3. Computing Sciences Summer Program 2023 Poster Session

## Summer Schools

1. Stochastic Quantization, MSRI, Berkeley, July 2024
2. Recent Trends in Partial Differential Equations Summer School, Duke University, August 2022
3. Differential Equation Summer School, Hertford College, University of Oxford, August 2016
